.home {
    font-family: var(--font-family);
    color: var(--color-text);
}

.home-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 5rem;
}

.home-text h1 {
    font-weight: 800px;
    font-size: 80px;
    line-height: 95px;
    letter-spacing: -0.04em;
}

.home-text h3 {
    font-weight: 500px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
}

.home-text p {
    font-size: 20px;
    line-height: 27px;

    margin-top: 1rem;
}